<nav class="bg-white shadow-sm border-b border-gray-200 px-8 py-2">
  <div class="max-w-[80%] mx-auto flex items-center justify-between ">
    <span class="text-lg font-semibold text-gray-800">{{ 'NAVBAR.BRAND' | translate }}</span>

    <div class="flex items-center gap-6">

      @if (role === 'USER') {
        <a routerLink="/home" class="text-sm text-gray-600 hover:text-blue-600 transition-colors cursor-pointer">{{ 'NAVBAR.SERVICES' | translate }}</a>

        <a routerLink="/my-bookings" class="text-sm text-gray-600 hover:text-blue-600 transition-colors cursor-pointer">{{ 'NAVBAR.MY_BOOKINGS' | translate }}</a>
      }

      @if (role === 'ADMIN' || role === 'MANAGER') {
        <a routerLink="/admin" class="text-sm text-gray-600 hover:text-blue-600 transition-colors cursor-pointer">{{ 'NAVBAR.DASHBOARD' | translate }}</a>
      }

      @if (role === 'OPERATOR' || role === 'ADMIN') {
        <a routerLink="/operator" class="text-sm text-gray-600 hover:text-blue-600 transition-colors cursor-pointer">{{ 'NAVBAR.OPERATOR' | translate }}</a>
      }


      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <div class="px-4 py-2 flex flex-col gap-2 pointer-events-none text-center">
          @if(role != ""){
            <span class="text-sm font-bold text-gray-800">{{ companyName }}</span>
          }

          <div class="flex justify-between">
           <span class="text-sm font-medium py-0.5 rounded-full bg-blue-100 text-blue-700 w-fit">{{ role }}</span>
           <span> |</span>
            <span class="text-sm font-medium text-gray-800">{{ username }}</span>

          </div>

          <span class="text-sm font-medium text-gray-800">{{ email }}</span>

          <div class="pointer-events-auto">
            <app-language-switcher></app-language-switcher>
          </div>

        </div>
        <mat-divider />
        <button mat-menu-item (click)="onLogout()">
          <mat-icon color="warn">logout</mat-icon>
          <span class="text-red-500">{{ 'NAVBAR.LOGOUT' | translate }}</span>
        </button>
      </mat-menu>
    </div>
  </div>
</nav>
