/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.notif-menu {
  min-width: 380px !important;
  max-width: 380px !important;
}

.notif-menu .mat-mdc-menu-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
